<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext-base.xml;classpath:applicationContext-dao.xml;classpath:applicationContext-service.xml;</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>6000</param-value>
  </context-param>
  <listener>
    <listener-class>
org.springframework.web.context.ContextLoaderListener
  	</listener-class>
  </listener>
  <listener>
    <listener-class>
        org.springframework.web.util.Log4jConfigListener
      </listener-class>
  </listener>
  <listener>
    <listener-class>
org.springframework.web.context.request.RequestContextListener
  	</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.changh.eschool.listener.InitListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.changh.eschool.listener.SessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>openSessionInView</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>openSessionInView</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>jspfilter</filter-name>
    <filter-class>
    		com.changh.eschool.filter.MyJspFilter					
    	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>jspfilter</filter-name>
    <url-pattern>/memberCenter/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2filter</filter-name>
    <filter-class>
    		com.changh.eschool.until.MyStrutsFilter					
    	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2filter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
</web-app>